/* #tengah{

    width: 100%;
    justify-content: center;
    padding: 0px 20%;

} */

#text{
    position: absolute;
    top: 30px;
    width: 60%;
    padding: 40px 0%;
    margin: 10px 20%;
    text-align: center;
    color: #F4CCCC;
}

#satu{
    font-size: 14px;
    opacity: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#dua{
    font-size: 14px;
    opacity: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

#tiga{
    font-size: 14px;
    opacity: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#empat{
    font-size: 14px;
    opacity: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

#happy{
    opacity: 0;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

#next{
    margin: 30px;
    opacity: 0;
    width: 150px;
    height: 20px;
    border: 0px solid#EED7AB ;
    background: #EED7AB;
    border-radius: 10px;
    font-size: 12px;
}

#next:hover{
    background: #987E59;
    color: #EED7AB;

}

button a{
    text-decoration: none;
    color: #987E59;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

audio{
    display: none;
}


